<div class="w-full h-full">
  <mat-list>
    <mat-list-item class="text-center">
      <span class="text-lg font-medium">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <app-user-detail-info
      label="Nome"
      value="Fulano da Silva"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Email"
      value="john@example.com"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Telefone"
      value="(83) 98888-0000"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Endereço"
      value="Rua das Flores, 42, São Paulo"
    ></app-user-detail-info>

    <app-user-detail-info label="Ativo" value="Sim"> </app-user-detail-info>

    <app-user-detail-info
      label="Função"
      value="Desenvolvedor"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Data de cadastro"
      value="20/08/2008"
    ></app-user-detail-info>
  </mat-list>
</div>
