<div class="w-full h-full">
  <mat-list>
    <mat-list-item class="text-center">
      <span class="text-lg font-medium">Detalhes do Usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <app-user-detail-info
      label="Nome"
      value="{{ user().nome }}"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Email"
      value="{{ user().email }}"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Telefone"
      value="{{ user().telefone | phone }}"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Endereço"
      value="{{ user().endereco | address }}"
    ></app-user-detail-info>

    <app-user-detail-info label="Status" value="{{ user().ativo | status }}">
    </app-user-detail-info>

    <app-user-detail-info
      label="Função"
      value="{{ user().funcao }}"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Data de Cadastro"
      value="{{ user().dataCadastro | date:'dd/MM/yyyy' }}"
    ></app-user-detail-info>
  </mat-list>
</div>
