<div class="w-full h-full">
  <div class="flex flex-col">
    <div class="border-b border-solid border-zinc-400 text-center py-4">
      <span class="text-lg font-medium">Detalhes do usuário</span>
    </div>

    <app-user-detail-info
      label="Nome"
      value="Fulano da Silva"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Email"
      value="john@example.com"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Telefone"
      value="(83) 98888-0000"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Endereço"
      value="Rua das Flores, 42, São Paulo"
    ></app-user-detail-info>

    <app-user-detail-info label="Ativo" value="Sim"></app-user-detail-info>

    <app-user-detail-info
      label="Função"
      value="Desenvolvedor"
    ></app-user-detail-info>

    <app-user-detail-info
      label="Data de cadastro"
      value="20/08/2008"
    ></app-user-detail-info>
  </div>
</div>
